.footer {
    margin-top: auto;
    padding: 10px;
    background-color: #FBC31A;
    font-size: 0.8em;
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
