/* Header styling */
.header {
    background-color: #FBC31A; /* Yellow background */
    padding: 5px 0; /* Reduced padding */
    text-align: center;
    margin: 0 auto 20px auto; /* Center the header with auto margin */
    max-width: 800px; /* Limit the header width */
    width: 90%; /* Keep the header responsive */
    height: auto; /* Set to auto to accommodate the logo height */
}

/* Logo container (logo-row) */
.logo-row {
    display: flex;
    justify-content: center; /* Center the logo */
    width: 100%; /* Full width of the container */
    margin-bottom: 5px; /* Space below the logo */
}

.logo-row img {
    max-width: 90%; /* Logo occupies a maximum of 90% of the page width */
    height: auto; /* Maintain aspect ratio */
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    .header {
        background-color: #000000; /* Black background for dark mode */
        color: #ffffff; /* White text in dark mode */
    }

    .logo-row img.light-mode-logo {
        display: none; /* Hide light mode logo in dark mode */
    }

    .logo-row img.dark-mode-logo {
        display: block; /* Show dark mode logo */
    }
}
