body {
    background-color: #FBC31A; 
    color: #000000;
    font-family: "Spline Sans", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.content-container {
    background-color: #ffffff; /* White background for the box */
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Add margin here to create space above and below the box */
    text-align: left;
    line-height: 1.6; /* Adjust this value to increase line spacing */        
    border: 1px solid #FBC31A; /* Yellow border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Smaller Headers for sections */
h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.0em;
}

h3 {
    font-size: 0.8em;
}

